.header {
    width: 100%;
    display: flex;
    align-items: center;

    &__logo {}

    &__register {}

    &__search {}

    &__user {}

    &__avatar {}

    &--auth-login {}

    &--auth-register {}

    &--app {}

    &--mobile {}
}