@use '../../../../styles/functions' as fct;
@use '../../../../styles/mixins' as mx;

.header {
    @include mx.flex(row, space-between, center);
    width: 100%;
    padding-block-start: fct.px-to-rem(75px);
    padding-inline: 75px;
    background-color: fct.color(background);

    &__logo {
        @include mx.flex(row-reverse, center, center);
        gap: fct.px-to-rem(16px);


        &--icon img {
            height: fct.px-to-rem(70px);
        }

        &--text img {
            width: fct.px-to-rem(156px);
            height: fct.px-to-rem(24px);
        }
    }

    &__register {
        @include mx.flex(column, center, flex-end);
        gap: 10px;
    }

    &__register-wrapper {
        padding-block: fct.px-to-rem(10px);
        padding-inline: fct.px-to-rem(15px);
        border: 1px solid transparent;
        border-radius: fct.px-to-rem(25px);
        cursor: pointer;

        &:hover {
            border-color: fct.color(text-gray);
        }

        a {
            font-family: fct.font(figtree);
            font-weight: 400;
            text-decoration: none;
            color: fct.color(purple-2);
        }

        &:hover {
            .header__link {
                color: fct.color(purple-1);
                font-weight: 500;
            }
        }

        &__hint {
            font-size: fct.px-to-rem(18px);
            line-height: 100%;
            letter-spacing: 0;
            text-align: right;
        }
    }
}