/* Globale Styles. Weitere Partials hier per @use einbinden. */
@use 'styles/typography';
@use 'styles/auth';
@use 'styles/overlay';
@use './styles/functions' as fct;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  min-height: 920px;
  background: fct.color(background);
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}