/* Globale Styles. Weitere Partials hier per @use einbinden. */
@use 'styles/typography';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}
